.board {
  text-align: center;
  margin-top: 200px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 5%;
  font-size: 2;
  font-weight: 800;
  margin: 3px;
  color: blue;
  font-size: 50px;

}

.celebration {
  display: 'none';
}

.lordicon {
  width:250px;
  height:250px;
}